@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0;
  color: #333333;
  background-color: #ffffff;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}

.button-want {
  margin-top: 14px;
  padding: 8px 34px;
}

.button-main {
  background-color: #756157;
}

.button-secondary {
  background-color: #82b3d3;
}

.button-favorities {
  background-color: #7db54f;
}

.button-subscribe {
  padding: 8px 50px;
}

.button-apply {
  padding: 8px 50px;
}

.button-reset {
  background-color: transparent;
}

/*Header*/

.page-header {
  display: flex;
  padding: 0 70px;
}

.logo {
  display: block;
  position: relative;
  z-index: 1;
  margin-bottom: -10px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-menu {
  width: 470px;

}

.navigation-user {
  margin-left: auto;
  max-width: 300px;
}



.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

/*Main*/

.main-container {
  flex-grow: 1;
}

/*Hero*/

.hero {
  padding: 51px 370px 82px;
  min-height: 485px;
  background-color: #2f4f4f;
  background-image: url("../images/index-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image {
  display: block;
}

/*Advantages */

.promo-block {
  padding: 69px 274px;
}

.promo-header {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.promo-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item-wide {
  display: flex;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  padding: 102px 85px;
}

.adventages-image {
  display: block;
}

.advantages-item-wide .advantages-title {
  color: #ffffff;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.secondary-color-light {
  background-color: rgba(131, 179, 211, 0.2);
}

.welcome {
  padding: 64px 350px;
}

/*Services*/

.services-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.services-item {
  width: 400px;
  min-height: 385px;
  padding: 81px 85px;
  text-align: center;
}

.services-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.services-paragraph {
  width: 230px;
}

/*Interested*/

.interested {
  padding: 152px 300px;
  text-align: center;

}

.interested-title {
  margin: 0;
  margin-bottom: 20px;
  color: #000000;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
}

.interested-paragraph {
  margin: 0;
  margin-bottom: 54px;
}

/*Subscribe*/

.subscribe {
  padding: 96px 258px 104px;
  text-align: center;
}

.subscribe-title {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-index {
  color: #ffffff;
  background-color: #2f4f4f;
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-index .subscribe-title {
  color: #ffffff;
}

/*Footer*/

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  width: 190px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contacts-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.developer-link {
  width: 190px;
}

.developer-image {
  display: block;
}

/*Catalog*/

/*Inner-header*/
.inner {
  padding: 35px 70px 70px;
  color: #ffffff;
  background-color: #2f4f4f;
  background-image: url("../images/inner-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #ffffff;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  width: 200px;
}

.catalog-filter-price {
  width: 290px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.control-input {
  line-height: 23px;
}

/*Hotels*/

.hotels {
  padding: 55px 70px 60px;
}

.hotels-sort {
  display: flex;
  justify-content: space-between;
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotels-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotels-card {
  padding: 20px;
}

.hotels-card-link {
  text-decoration: none;
}

.hotels-card-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.hotels-card-wrapper:last-child {
  margin-bottom: 0;
}

.hotels-card-image {
  display: block;
  margin-bottom: 16px;
}

.hotels-card-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotels-card-price {
  font-weight: 400;
}



/*Pagination*/

.pagination {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  padding: 11px 18px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
}

.pagination-current {
  color: #000000;
  background-color: #ffffff;
}
