@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}

.button-want {
  padding: 8px 34px;
}

.button-main {
  background-color: #756157;
}

.button-secondary {
  background-color: #82b3d3;
}

.button-favorities {
  background-color: #7db54f;
}

.button-subscribe {
  padding: 8px 50px;
}

.button-aply {
  padding: 8px 50px;
}

.button-reset {
  background-color: transparent;
}

/*Header*/

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

/*Hero*/

.hero {
  min-height: 485px;
  background-color: green;
  background-image: url(../images/index-background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Advantages */

.promo-header {
  font-size: 30px;
  line-height: 36px;
}

.promo-text {
  font-size: 22px;
  line-height: 26px;
}

.advantages-item-wide {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item-wide .advantages-title {
  color: #ffffff;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.advantages-item-light-color {
  background-color: rgba(131, 179, 211, 0.2);
}

/*Services*/

.services-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

/*Subscribe*/
.subscribe-title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
}

.subscribe-index {
  color: #ffffff;
  background-color: green;
  background-image: url(../images/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-index .subscribe-title {
  color: #ffffff;
}

/*Footer*/

.contacts-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

/*Catalog*/

/*Header*/
.inner-header {
  color: #ffffff;
  background-color: green;
  background-image: url(../images/inner-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #ffffff;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.control-input {
  line-height: 23px;
}

/*Hotels*/

.hotels-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotels-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotels-card-price {
  font-weight: 400;
}

/*Pagination*/

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
}

.pagination-current {
  color: #000000;
  background-color: #ffffff;
}
